 
 <p>This is going to be the most amazing thing
    you've ever seen. Really. </P>
    </br>
    <p>Give us your deets and we'll let you in the ground floor </p>

<form action="http://localhost:4567/thanks" method="post"> 
 <label for="name">Name</label>
 <input type="text" name ="name" required placeholder="Your Name"> <br>
<label for="email">email</label>
 <input type="email" name ="email" required placeholder="Email"> <br>
 <label for="twitter">twitter</label>
 <input type="text" name ="twitter" required placeholder="Twitter">
 <button class="submit" type="submit">Press the Button!</button>
</form>
