<html>
<head> 
<link rel="stylesheet" href="layout.css" type="text/css" /> 
</head>
<body>
  <header>
    <h3> Born Every Minute</h3>
      <h2><%= @title %></h2>
  </header>  
  <div> 
  <%= yield%>
  </div>
 <img src="logo.jpg"> </img>

  <footer>
  <p> Copyright 2013 The Long Con LLC </p>
  </footer>
</body>
</html>

