<div>

<table>
  <tr>
    <th>Name</th><th>Email</th><th>Twitter</th>
  </tr>

  <tr>
    <td> <%= @sucker[:name] %> </td> 

    <td><%= @sucker[:email] %> </td> 

    <td><%= @sucker[:twitter] %> </td>
  </tr>
</table>

<a href=http://localhost:4567/suckers>Return to Listing</a>

</div>


